/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #f4f6f8, #e9edf3);
    display: flex;
    justify-content: center;
    padding: 20px;
}
.logo {
    width: 100px;
    margin-bottom: 10px;
}

/* CONTENEDOR */
.container {
    width: 100%;
    max-width: 420px;
}

/* HEADER */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 1.6rem;
    color: #000;
}

.header p {
    font-size: 0.9rem;
    color: #666;
}

/* CARDS */
.card {
    background: white;
    border-radius: 14px;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}

/* TITULOS */
h2 {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
}

/* LABEL */
label {
    font-size: 0.85rem;
    color: #555;
    margin-top: 10px;
    display: block;
}

/* INPUT */
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;

    border-radius: 8px;
    border: 1px solid #ddd;

    transition: 0.2s;
}

input:focus {
    border-color: #facc15;
    outline: none;
}

/* RESULTADOS */
.result-box {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.result-box p {
    font-size: 0.9rem;
    margin-bottom: 6px;
}

span {
    font-weight: 600;
    color: #000;
}

/* ESTADO */
.estado span {
    color: #facc15;
}

/* BOTONES */
.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

button {
    flex: 1;
    padding: 12px;

    border: none;
    border-radius: 10px;

    background: #facc15;
    color: #000;

    font-weight: 600;
    cursor: pointer;

    transition: all 0.2s ease;
}

/* MICROINTERACCIÓN */
button:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

/* BOTON SECUNDARIO */
button:last-child {
    background: #e5e7eb;
}

/* RESPONSIVE */
@media (max-width: 480px) {
    .container {
        max-width: 100%;
    }

    .card {
        padding: 15px;
    }
}
.error {
    color: red;
    font-style: italic;
    font-size: 0.8rem;
    display: none;
    margin-top: 4px;
}

.error.activo {
    display: block;
}